* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h2 {
  margin: 10px 0;
}

button {
  cursor: pointer;
}

@media (max-width: 768px) {
  body, html {
    font-size: 14px;
  }
}
